footer {
    background-color: $color-rosita;
    padding: 10px;
    border-top: solid 2px;
    margin-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: $color-negro;
        display: inline;
        margin-top: 0;
        margin-bottom: 0;
        cursor: default;
    }
}

.enlace {
    padding: 5px;
    text-decoration: none;
    color: $color-negro;
    text-transform: uppercase;
    font-weight: bolder;
}