.tituloQuienes {
    background-color: $color-rosa;
    color: $color-negro;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 16px;
  }
  
  h2 {
    font-weight: 999;
    text-align: center;
    color: $color-negro;
    text-transform: uppercase;
    text-decoration: double;
  }
  